@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Avenir", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.icon {
  width: 2rem;
  vertical-align: middle;
}

.nul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nul li {
  display: inline-block;
}

li a {
  display: block;
}

/* ----- =Menu ----- */

.nav-check {
  position: absolute;
  left: -100rem;
}

.temp-nav {
  background-color: #036;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #222;
}

.temp-nav h1 img {
  width: auto;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.temp-nav h1 img:hover {
  opacity: .85;
}

.nav-label {
  display: inline-block;
  padding: .5rem 1rem;
}

.nav-label:hover {
  cursor: pointer;
}

.nav-label .icon {
  display: inline-block;
  margin: 0;
}

.nav-label img:last-child {
  display: none;
}

.nav-menu {
  border-top: 2px solid #222;
  border-right: 2px solid #222;
  background-color: #fff;
  position: fixed;
  top: 3rem;
  left: -100vh;
  transition: left .5s;
  width: 66.666%;
  height: calc(100vh - 3rem);
  box-shadow: 1px 3px 5px #000;
  z-index: 999;
}

.nav-menu .tb-nav-prim {
  margin: 0 0 1rem
}

.nav-menu .tb-nav-content li {
  padding: 0;
}

.nav-menu .tb-nav-content li:last-child {
  padding: 0 0 1rem;;
}

.nav-menu li {
  padding: .5rem 0;
  display: block;
}

.nav-menu li:last-child {
  padding-bottom: .5rem;
  border-bottom: 1px solid #036;
}

.nav-menu a {
  color: #036;
  text-decoration: none;
}

.nav-menu li a {
  padding: .5em 1rem;
  display: block;
  text-align: left;
}

.nav-menu li a:hover {
  background-color: #036;
  color: #fff;
}

.nav-menu a .icon {
  display: inline-block;
}


.nav-menu .icon {
  margin: 0 1rem 0 0;
}

.icon-hov {
  vertical-align: middle;
  margin: 0 1rem 0 0;
  display: none;
}

.icon-nav {
  width: 1.5rem;
}

.nav-menu a:hover .icon {
  display: none;
}

.nav-menu a:hover .icon-hov {
  display: inline-block;
}

.nav-menu small {
  display: block;
  text-align: right;
  padding: 1rem;
}

.nav-menu small a:hover {
  text-decoration: underline;
}

.nav-check:checked ~ .nav-menu {
  left: 0;
}

.nav-check:checked ~ .nav-label img:first-child {
  display: none;
}

.nav-check:checked ~ .nav-label img:last-child {
  display: inline-block;;
}

.tb-logo {
  display: none;
}

/* ----- =Header ---- */

body > header {
  display: none;
}

/* ----- =Main ----- */

body > main {
  margin-top: 3rem;
}

.box-style {
  border-bottom: 3px solid #036;
  box-shadow: 1px 1px 5px #888;
  overflow: hidden;
}

.wel-mess {
  min-height: 50vh;
  background-color: #222;
  position: relative;
  z-index: -1;
}

.wel-mess h2 {
  font-weight: 100;
  text-align: center;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.work-prev {
  padding: 3rem 1rem;
  position: relative;
  z-index: -100;
}

.work-prev img {
  margin-top: 3.5rem;
}

.work-prev h2 {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.work-prev p {
  text-align: center;
  margin: 2rem 0 0;
  padding: 0 2rem;
}

.work-blocks h2 {
  margin: 3rem 0 1rem;
}

.work-blocks a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  text-align: center;
  display: block;
  padding: 1.5rem 1rem;
  float: left;
  width: 50%;
}

.work-blocks a:hover {
  background-color: #f2f2f2;
  transition: background-color 1s;
}

.work-blocks figure {
  margin: 0;
  box-shadow: 1px 1px 5px #888;
}

.work-blocks figcaption {
  padding: 1rem;
  background-color: #036
}

.brief-bio {
  padding: 1rem;
}

.brief-bio h2 {
  margin: 1rem 0;
}

/* ----- =Footer ----- */

body > footer {
  background-color: #000;
  border-top: 10px solid #333;
}

body > footer ul {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.nav-soc {
  padding: .5rem 1.5rem 0;
}

body > footer ul:last-child {
  padding: .5rem 3rem 1rem;
}

body > footer li {
  float: left;
  width: 33.3333%;
}

body > footer a {
  color: #404040;
  font-size: .875rem;
  text-decoration: none;
  padding: .5rem .5rem;
  display: block;
}

body > footer ul:last-child a {
  padding: 0 .5rem;
}

body > footer a img {
  display: inline-block;
}

body > footer a img:last-child {
  display: none;
}

body > footer a:hover {
  color: #036;
}

body > footer a:hover img:first-child {
  display: none;
}

body > footer a:hover img:last-child {
  display: inline-block;;
}

.nav-soc a {
  padding: .5rem 1rem;
}

.nav-legal li:nth-child(2) {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}
