@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Avenir", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h2 {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #903;
}

/* ----- =Temp Nav ----- */

.temp-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.toggle-bar {
  border-top: 3px solid #903;
  border-bottom: 3px solid #903;
  background-color: #fff;
  overflow: hidden;
  padding-left: 6.5rem;
  position: fixed;
  top: 1rem;
  left: -110vw;
  transition: left .25s;
  width: 100%;
  box-shadow: 1px 1px 5px #888;
}

.nav-toggle {
  position: absolute;
  left: -1000px;
}

.toggle-icon {
  position: fixed;
  top: .5rem;
  left: .5rem;
  width: 4rem;
  z-index: 100;
  border: 8px solid rgba(0, 0, 0, 0);
  border-radius: 1000px;
}

.toggle-icon:hover {
  border: 4px solid rgba(0, 0, 0, 1);
  transition: border .5s;
  cursor: pointer;
  background-color: #fff;
}

.nav-toggle:checked ~ .toggle-icon {
  top: .5rem;
  left: .5rem;
  width: 4rem;
  border: 4px solid #000;
  border-radius: 1000px;
  background-color: #fff;
}

.nav-toggle:checked ~ .toggle-icon:hover {
  border: 0.1px solid rgba(0, 0, 0, 0);
  transition: border .5s;
  background-color: inherit;
}

.nav-toggle:checked ~ .toggle-bar {
  left: 0;
}

.toggle-bar img {
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
}

.toggle-bar nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 85%;
}

.toggle-bar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.toggle-bar nav li {
  display: inline-block;
}

.toggle-bar nav a {
  padding: .5rem 2rem;
  text-decoration: none;
  color: #903;
  text-align: center;
  display: block;
  vertical-align: middle;
}

.toggle-bar nav a:hover {
  text-decoration: underline;
  opacity: .75;
}

.toggle-bar nav a img {
  vertical-align: middle;
  width: 1.5rem;
  margin-right: 1rem;
}

/* ----- =Header ----- */

body > header {
  background-color: #903;
  padding: 0 0 0 4rem;
  z-index: 1000;
  position: relative;
  box-shadow: 1px 1px 5px #888;
}

.masthead {
  background-color: #fff;
  border-left: 15px solid #000;
  border-bottom: 5px solid #000;
  padding: 2rem;
  position: relative;
}

.masthead h1 {
  width: 6rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.nav-img {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-img img {
  width: auto;
  height: 111px;
}

/* ----- =Main ----- */

.box-style {
  border-bottom: 3px solid #903;
  box-shadow: 1px 1px 5px #888;
  overflow: hidden;
}

.box-size {
  max-width: 75rem;
  margin: 0 auto;
}

.wel-mess {
  padding: 12rem 20rem;
}

.wel-mess h2 {
  text-align: center;
  color: #222;
}

.work-prev {
  padding: 4rem;
  /*background-color: #eee;*/
  text-align: center;
}

.work-prev div {
  display: inline-block;
  width: 45%;
  /*padding: 4rem;*/
  vertical-align: middle;
}

.work-prev img {
  max-width: 18rem;
  display: inline-block;
}

.work-prev p {
  font-size: 1.25rem;
  font-weight: 100;
}

.work-blocks a {
  float: left;
  width: 25%;
  padding: 4rem 2rem;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.work-blocks a:hover {
  background-color: #f2f2f2;
  transition: background-color 1s;
}

.work-blocks figure {
  margin: 0;
  box-shadow: 1px 1px 5px #888;
}

.work-blocks figcaption {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #903;
}

.brief-bio {
  padding: 0 4rem;
  text-align: center;
}

.brief-bio-block {
  padding: 2rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.brief-bio-block img {
  box-shadow: 1px 1px 5px #888;
}

.brief-bio-description {
  width: 60%;
}

.brief-bio-description div {
  column-count: 2;
  text-align: left;
}

.brief-bio-description p {
  margin: 0;
}

/* ----- =Footer ----- */

body > footer {
  background-color: #000;
  border-top: 2rem solid #222;
  padding: 2rem;
  text-align: center;
}

body > footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

body > footer li {
  display: inline-block;
}

body > footer a {
  opacity: .25;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem 4rem;
}

body > footer img {
  width: 3rem;
  display: inline-block;
}

.nav-legal a {
  padding: 1rem 2rem;
}
