/* ----- =Footer ----- */

body > footer {
  background-color: #000;
  border-top: 10px solid #333;
}

body > footer ul {
  margin: 0;
  padding: .5rem 4rem 0;
  list-style-type: none;
  text-align: center;
}

body > footer ul:last-child {
  padding: 0 0 .5rem;
}

body > footer li {
  float: left;
  width: 33.333%;
}

body > footer a {
  color: #404040;
  font-size: .875rem;
  text-decoration: none;
  padding: .5rem .5rem;
  display: block;
  text-align: center;
}

body > footer a img.icon,
body > footer a img.icon-hov {
  display: inline-block;
}

body > footer a img:last-child {
  display: none;
}

body > footer a:hover {
  color: #036;
}

body > footer a:hover img:first-child {
  display: none;
}

body > footer a:hover img:last-child {
  display: block;
}

body > footer .nav-soc {
  padding: .5rem 0 0;
}

body > footer .nav-soc a {
  padding: .5rem 1.5rem;
}

@media only screen and (min-width: 25em) {

  html {
   font-size: 100%;
   line-height: 1.3;
 }

}

@media only screen and (min-width: 47em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  /* ----- +Temp-Nav ----- */

  .temp-nav {
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: auto;
    border-bottom: none;
  }

  .temp-nav h1 {
    display: none;
  }

  .nav-label {
    padding: 0;
    position: fixed;
    top: .5rem;
    left: .5rem;
    width: 4rem;
    z-index: 100;
    border: 8px solid rgba(0, 0, 0, 0);
    border-radius: 1000px;
    z-index: 1000;
  }

  .nav-label:hover {
    border: 4px solid rgba(0, 0, 0, 1);
    transition: border .5s;
    cursor: pointer;
    background-color: #fff;
  }

  .nav-label .icon {
    display: inline-block;
    margin: 0;
    width: 100%;
  }

  .nav-menu {
    border-top: 3px solid #903;
    border-bottom: 3px solid #903;
    border-right: none;
    /*background-color: #fff;*/
    padding-left: 6.5rem;
    position: fixed;
    top: 1rem;
    left: -110vw;
    transition: left .25s;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px #888;
    overflow: hidden;
  }

  .nav-menu ul {
    text-align: right;
  }

  .nav-menu li {
    display: inline-block;
  }

  .nav-menu li {
    padding: 0;
  }

  .nav-menu li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .nav-menu small {
    display: none;
  }

  .nav-menu li a:hover {
    background-color: #fff;
    color: #903;
    text-decoration: underline;
    opacity: .75;
  }

  .nav-menu a:hover .icon {
    display: inline-block;;
  }

  .nav-menu a:hover .icon-hov {
    display: none;
  }

  .tb-logo {
    float: left;
    width: auto;
    height: 1.5rem;
    margin: .5rem 0;
    display: inline-block;
  }

  .nav-check:checked ~ .nav-label {
    top: .5rem;
    left: .5rem;
    width: 4rem;
    border: 4px solid #000;
    border-radius: 1000px;
    background-color: #fff;
  }

  .nav-check:checked ~ .nav-label:hover {
    border: 0.1px solid rgba(0, 0, 0, 0);
    transition: border .5s;
    background-color: inherit;
  }

  /* ----- +Header ----- */

  body > header {
    background-color: #903;
    padding: 0 0 0 4rem;
    z-index: 1000;
    position: relative;
    /*box-shadow: 1px 1px 5px #888;*/
    display: block;
  }

  .masthead {
    background-color: #fff;
    border-left: 15px solid #222;
    /*border-bottom: 5px solid #222;*/
    padding: 2rem;
    position: relative;
  }

  .masthead h1 {
    width: 6rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .nav-img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-img img {
    width: auto;
    height: 122.38px;
  }

  /* ----- +Main ----- */

  body > main {
    margin-top: 0;
  }

  .wel-mess h2 {
    padding: 0 8rem;
  }
}
