/* ----- =Footer ----- */

body > footer {
  background-color: #000;
  border-top: 10px solid #333;
}

body > footer ul {
  margin: 0;
  padding: .5rem 4rem 0;
  list-style-type: none;
  text-align: center;
}

body > footer ul:last-child {
  padding: 0 0 .5rem;
}

body > footer li {
  float: left;
  width: 33.333%;
}

body > footer a {
  color: #404040;
  font-size: .875rem;
  text-decoration: none;
  padding: .5rem .5rem;
  display: block;
  text-align: center;
}

body > footer a img.icon,
body > footer a img.icon-hov {
  display: inline-block;
}

body > footer a img:last-child {
  display: none;
}

body > footer a:hover {
  color: #036;
}

body > footer a:hover img:first-child {
  display: none;
}

body > footer a:hover img:last-child {
  display: block;
}

body > footer .nav-soc {
  padding: .5rem 0 0;
}

body > footer .nav-soc a {
  padding: .5rem 1.5rem;
}

/* -------------------- */



  /* ----- +Main ----- */

  body > main {
    margin-top: 0;
  }

  .wel-mess h2 {
    padding: 0 8rem;
  }
}
